[2020-07-27 13:00] ruprict opened #2 "undefined method `clear_screen' for #<IO:<STDOUT>>"
Hey, just trying to kick the tires on jard and I got the error mentioned above. Using Ruby 2.6.3 and RVM. Here's the script:

[code]

and the traceback:
[code]

Thanks.

[2020-07-27 15:07] nguyenquangminh0711 commented on #2
Hi @ruprict, thank you for your bug report. I already pushed a patch as an attempt to fix your error. Could you try again with the source code on master branch, by putting this in your gem file, and run `bundle update ruby_jard`?

[code]

I tested Ruby 2.6.3 installed by RVM in my local machine, and it works quite well.
![Screenshot from 2020-07-27 22-02-25](https://user-images.githubusercontent.c

[2020-07-27 15:42] ruprict commented on #2
K...new traceback:
[code]

[2020-07-27 16:17] nguyenquangminh0711 commented on #2
It is so weird. Could you provide some more information about your environment, like your operating system, or your terminal emulator? And if it is possile, could you provide the output from `tput colors`?

[2020-07-27 16:43] ruprict commented on #2
Mac OS Catalina (10.15.4)

I do use tmux, but I am not using it  for this.

[code]

[2020-07-28 08:33] nguyenquangminh0711 commented on #2
Hi @ruprict, I pushed another patch into master of the Gem. Could you try again? In this patch, I added multiple fallback mechanism to serve the case that `io/console` is not available, or even `tput` is not available. I tested the patch with a custom Ruby build without io/console, and borrow a Mac OS catalina machine to test, and it works now. Sorry for wasting for time on this back, and forth de

[2020-07-28 13:35] ruprict commented on #2
That did it! And this is not wasting time, this is open source. Glad to help.

[2020-07-28 18:23] nguyenquangminh0711 commented on #2
I published a new release (`0.2.1`) to address this bug at https://github.com/nguyenquangminh0711/ruby_jard/releases/tag/v0.2.1. So I think this issue is resolved. Please let me know if you have futher questions. Regards.

[2020-07-28 18:23] #2 closed

[2020-08-03 03:08] nvh0412 opened #10 "[BUG] F2 Mode doesn't work as expected"
**Describe the bug**
F2 - mode didn't work as I expected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'rails console'
2. See all systems and application variables in variables panel
3. Click F2 to switch mode
4. Nothing happened

**Expected behavior**
The variables should be updated to show only application variables

**Screenshots**
If applicable, add screenshots to help explain yo

[2020-08-06 03:49] nguyenquangminh0711 commented on #10
Thanks for your reporting. F2 mode is currently under development in the master branch. So, the key binding won't work (for now). I'll update this when next version is released ❤️

[2020-09-03 17:21] nguyenquangminh0711 commented on #10
This issue is fixed via https://github.com/nguyenquangminh0711/ruby_jard/pull/28. The code is already in master. You can check it out. I'm batching the code, and do final tests before a new release :smiley:

[2020-09-03 17:21] #10 closed

[2020-09-14 00:58] scottbarrow opened #34 "[BUG] - Ctl+d causes error"
**Describe the bug**
Using ctrl-d (pry continue command) causes error

**To Reproduce**
Steps to reproduce the behavior:
1: add jard to a file
2: enter ctrl+d
**Expected behavior**
Program to continue

**Screenshots**
[code]

[2020-09-14 00:59] scottbarrow opened #35 "[BUG] - No ERB support"
**Describe the bug**
Adding Jard to an erb file does not pause at runtime

**To Reproduce**
Steps to reproduce the behavior:
1: Add jard to an erb file (Rails)

**Expected behavior**
Jard to stop execution at the point specified in the erb file

**Actual behavior**
Jard does not stop execution

[2020-09-14 04:35] nguyenquangminh0711 commented on #35
Hi @scottbarrow, thanks for your reporting. I have just tested in my local environment (Ruby 2.6.5, and 2.7.1 on Rails 6.0). It works quite well.

![Screenshot from 2020-09-14 11-26-42](https://user-images.githubusercontent.com/11613517/93043935-815e3080-f67d-11ea-9c1c-f5b4dfc2d6b2.png)

Could you give me some more information, such as your Ruby version, your Rails version, the environment you are

[2020-09-14 04:37] nguyenquangminh0711 commented on #35
Ahhhhh. I can now re-produce the bug now. So, if you put something like `<%= jard %>`, Jard won't stop at the file, while it works well with `<% jard %>`. It's an interesting bug, happens with `byebug` as well. I'll go dive deep to see what happens.

In the mean time, you could use `<% jard %>` instead.

[2020-09-14 05:16] nguyenquangminh0711 commented on #34
@scottbarrow This bug is fixed in https://github.com/nguyenquangminh0711/ruby_jard/pull/36, and will be available in next release. In a mean time, you can use jard from `master` branch, or that specific commit:

[code]

I'll close this issue when a new version is released.

[2020-09-14 11:57] nonnenmacher opened #38 "Absolutely Gorgeous !! add documentation about stdin/stdout redirections precautions for hard"
**Is your feature request related to a problem? Please describe.**

This is more a documentation (or details) process.

When using launcher (e.g `pumactl` or some wrapper around `rack builder`, it often happen that
the `stdin/stdout` (and in a minor importance ? `stderr`) are *closed* or *redirected* elsewhere
(e.g `std/null` or a `file` for logging).

In those case, it seems that jard (pry) conti

[2020-09-14 12:51] nguyenquangminh0711 commented on #35
A debug story: as mentioned above, jard doesn't work with `<%= jard %>`, while still working with `<% jard %>`. Internally, ERB compiles the view template into a series of Ruby print statements, then evaluate all the statement with an input binding. This is a test file to point the differences between two approaches:

[code]

Results:

[code]

So, in the second script, jard is called as an an argu

[2020-09-14 14:16] scottbarrow commented on #34
Thanks for the fast turnaround

[2020-09-14 14:21] scottbarrow commented on #35
Awesome thanks

[2020-09-14 16:03] scottbarrow opened #39 "[BUG] - binding.pry"
**Describe the bug**
Expected binding.pry to work as it does with pry, pry-rails, pry-debugger since pry is a dependency of this gem.
It would be great if Jard was backwards compatible so that users who prefer binding.pry can use it alongside other team members wishing to use Jard

**To Reproduce**
Steps to reproduce the behavior:
1. Use binding.pry in a file

**Expected behavior**
Pry to work as

[2020-09-14 16:37] scottbarrow opened #40 "[BUG] - Resizing terminal window breaks layout"
**Describe the bug**
When resizing the terminal window the layout breaks

**To Reproduce**
Steps to reproduce the behavior:
1. add jard toa. file
2. resize terminal window

**Expected behavior**
Layout to adjust with the window

**Screenshots**
![Screen Shot 2020-09-14 at 9 33 45 AM](https://user-images.githubusercontent.com/5571736/93113320-e6118f00-f66d-11ea-99f3-95aa3954065c.png)

[2020-09-15 04:45] nguyenquangminh0711 commented on #40
In previous versions, Jard used to auto-resize when the window changes. However, it has to refresh the whole window, and clear everything you are typing during resize event. That's kinda limited. So, I removed that feature to look for a better one. To make Jard resize perfectly, it must be aware of the current scroll position, able to control upward and downward scrolling, etc. I didn't found any

[2020-09-15 04:45] #39 closed

[2020-09-15 04:48] nguyenquangminh0711 commented on #39
This issue is fixed in https://github.com/nguyenquangminh0711/ruby_jard/pull/41. You can now use *one of* `binding.pry`, `byebug`, `debugger`, `jard` commands depending your preference. The limitation is that after `jard` is first triggered, the backward compatibility is not guranteed anymore.

[code]

[2020-09-15 05:16] nguyenquangminh0711 commented on #38
Interesting use case. I never use `pumactl`, but I totally understand that use cases, as well as more general cases when stdin/stdout/stderr are redirected. To be honest, I don't have any experience of how to deal with it correctly for now. There are some things pop from my head:
- It's true that Jard should detect when STDIN and STDOUT are redirected,or not TTY. In such cases, Jard should print a

[2020-09-15 09:41] nguyenquangminh0711 commented on #40
This issue is fixed in https://github.com/nguyenquangminh0711/ruby_jard/pull/42. Once again, thank for reporting so many bugs :pray:

[2020-09-16 14:07] coderberry opened #44 "This is amazing! Thank you!!!"
👏👏👏

Thanks for making this and sharing it with the world!

[2020-09-17 09:49] kikonen opened #45 "[BUG] Seems to break "binding.pry""
**Describe the bug**
Tried to evaluate "jard", but since simply installing "ruby_jard" gem broke usage of "binding.pry" as breakpoint, had to uninstall "ruby_jard".

**To Reproduce**
Steps to reproduce the behavior:
1. add "binding.pry" breakpoint in rails app
2. Hit breakpoint

=> error when breakpoint is hit
[code]

[2020-09-17 10:18] nguyenquangminh0711 commented on #45
Hi @kikonen, thanks for reporting. This issue is mentioned in https://github.com/nguyenquangminh0711/ruby_jard/issues/39, and already fixed in https://github.com/nguyenquangminh0711/ruby_jard/pull/41. Unfortunately, I haven't release a new version yet. So, in the meantime, you can install the gem pointing directly to this repo's master branch.

[code]

I'll comment in this issue when the patched v

[2020-09-17 10:21] nguyenquangminh0711 commented on #44
Thanks for your kind words. I'm glad that this gem is useful to you. This gem is just in beta version, so, if you find something weird, please just let me know. I'll try my best to fix :heart:

[2020-09-17 15:13] alextakitani commented on #44
I came here to do the same and found this opened, so lets use it

This is awesome @nguyenquangminh0711 , thank you for sharing this !

I think this will bring a lot to Ruby, its just awesome!

[2020-09-17 18:01] jtmkrueger opened #46 "[BUG] breaks with foreman and rails"
**Describe the bug**
When I try to run with foreman, it errors out

**To Reproduce**
Steps to reproduce the behavior:
1. put a `jard` breakpoint in a rails application
2. start `foreman`
3. see error

**Expected behavior**
The jard window to pop up somwhere

[here's the stack trace in a gist](https://gist.github.com/jtmkrueger/8c23a86dd75a1487396a794d3e553e19)

**Environment (please complete the f

[2020-09-17 20:43] calebmeyer commented on #46
Can confirm. I'm also using rails (5.2.4.4) and foreman.

    OS: MacOS
    Terminal Emulator: iTerm2
    Output when you run tput colors in your terminal
    Output when you run echo $TERM in your terminal
    Output when you run stty

![image](https://user-images.githubusercontent.com/3342777/93526062-80870200-f8fc-11ea-90f1-06d889b0f34a.png)

    tmux: no

[2020-09-18 08:54] likeuwill commented on #44
Perfect! Ty <3

[2020-09-18 09:40] nguyenquangminh0711 commented on #46
Hi guys, thanks for reporting this issue.

The root cause of this isuse is that foreman redirects the STDOUT of the rails server (or any proc program) into a pipe (found at https://github.com/ddollar/foreman/blob/5b815c5d8077511664a712aca90b070229ca6413/lib/foreman/engine.rb#L367). Ruby Jard depends heavily on the STDOUT of the program to create rich user interfaces inside terminal, and the STDOUT

[2020-09-18 10:19] chalmagean opened #48 "[BUG] Can't type"
**Describe the bug**
I'm trying to use it with a Rails 6 app, in test mode. Namely I am adding the breakpoint in a controller and running my cucumber tests.

Jard starts and displays everything, but I cannot interact with it in any way. Only thing I can do is C-c to quit.

The gem is included in my development and test groups.

**Environment (please complete the following information):**
 - OS
  M

[2020-09-18 15:08] feliperaul commented on #44
I just came here to open an issue to thank the developers. Unsurprisingly, someone beat me to it.

This is *awesome*.

@nguyenquangminh0711

@gregoryfm

@hieuk09

@qcam

Thank you!!

[2020-09-18 15:23] feliperaul opened #49 "[BUG] Slows the the Rails server to a crawl after first use (30+ seconds page loads)"
**Describe the bug**

First of all, this gem is awesome. However, I can only use it once, forcing me to restart the rails server afterwards.

The bug manifests itself like this: I use `jard` anywhere in my code, inspect what I wanted to expect, and then I type `exit` on it's console to finish execution. I then proceed to remove the `jard` line and go back to normal life.

However, Rails thens take

[2020-09-18 15:25] feliperaul commented on #49
An update: while the Chrome tab keeps on spinning, I got this error message:

![image](https://user-images.githubusercontent.com/743879/93615640-08771580-f9aa-11ea-95dc-70063fc258df.png)

[2020-09-18 15:27] feliperaul commented on #49
Another update: I can confirm that with binding.pry everything is working as expected.

[2020-09-18 15:39] nguyenquangminh0711 commented on #49
Hi @feliperaul, let me confirm:

- The slowness happens when you inject `jard`, refresh the page on chrome, inspect, type `exit`, remove `jard`. Then, the next page is unacceptably slow right?
- Or, you inject `jard`, inspect, then `continue` and the page load is slow?

The message is interesting. That event should only be raised then the terminal emulator is resized.. Does it popup when you are i

[2020-09-18 15:47] feliperaul commented on #49
Hi @nguyenquangminh0711

First option: The slowness happens when I inject jard, refresh the page on chrome, inspect, type exit, remove jard. Then, the next page is unacceptably slow.

About the message, I'm not in front of the computer right now, but if I recall correctly, it was a vanilla Rails terminal.

What happens is, with iTerm2, I use CMD SHIFT ENTER all the time to resize the terminal wind

[2020-09-18 15:55] nguyenquangminh0711 commented on #49
Thank you. I think that's enough for me to debug. At the first glance, I think there are some conflicts between rails autoreload so that tons of scripts are running forever. During that time, when you resize, a race condition happens and pop that error out. I never go into this scenario before. Gonna test it out and let you know if I found some clue :wink:

[2020-09-18 19:36] nachoal opened #50 "[BUG] Breaks when triggering a variable with long text"
**Describe the bug**
Input is locked and jard can't be used after exploring a long value stored in a variable (when getting the interactive `vi` like scroll for long text)

**To Reproduce**
Steps to reproduce the behavior:
1. Add `jard` on any place where you have a longer than the terminal variable value (a long hash for example)
2. Run jard and explore the variable contents
3. When the output is

[2020-09-18 19:38] nachoal commented on #50
By the way, this gem is great and the way you display the variable contents and arrange the information is really useful, thanks for putting in the time to build it and share!

[2020-09-19 03:48] nguyenquangminh0711 commented on #50
Hi @nachoal, let me confirm some information to help debugging.

So, it means that you type `quit`, and press `enter`. Then the process exists right? Could you help me a little bit by running this check on your terminal emulator:

[code]

Does it works as expected, or the behavior is the same? If it's still broken, could you give me the output of `less --version` in your terminal emulator?

[2020-09-19 07:33] nguyenquangminh0711 commented on #46
Hi @jtmkrueger, @calebmeyer. Please ignore my above post. During the night, I finally found a way to make Jard works with standard stream redirection, which is trying to find the real user tty from `/dev/tty`. This solution is described in https://github.com/nguyenquangminh0711/ruby_jard/pull/51. I recorded a video to prove it works at

[![asciicast](https://asciinema.org/a/vMgIp2GksU4oqAJFagyznDi

[2020-09-19 07:39] nguyenquangminh0711 commented on #38
@nonnenmacher it turns out that I already implemetned the solution that Jard detects user tty, and bind into that instead of STDIN/STDOUT. The solution is described at https://github.com/nguyenquangminh0711/ruby_jard/pull/51, and tested with "easy" redirection. However, I didn't solve the case that the process is detached, or created in an isolated process group, or doesn't have a tty device at al

[2020-09-19 08:12] nguyenquangminh0711 commented on #48
I did tested with a Rails 6 app and cucumber. It works really fine to me.

![Screenshot from 2020-09-19 15-07-46](https://user-images.githubusercontent.com/11613517/93662395-efde2c80-fa89-11ea-8fde-fa9deaccc220.png)

Could you provide some screenshots so that I can have more information to debug better? And if it's possible, could you please test in some scenarios:
- Re-run that cucumber test, and

[2020-09-19 08:45] nguyenquangminh0711 commented on #49
Hi @feliperaul, I tested on my local, and I can confirm that it's truly a bug. The slowness is significant. I implemented a fix, and the situation is good (for me). Could you test it again by pointing jard to my branch?

[code]

[2020-09-19 17:07] acetinick opened #53 "[BUG] Error on app startup -1 out of range"
**Describe the bug**
Stacktrace error as soon as application is starting,

Using the master branch, still having same issues.

**To Reproduce**
on startup

**Screenshots**
If applicable, add screenshots to help explain your problem.

 --- Error ---
web_1            | 17:05:09 web.1               | Internal error from Jard. I'm sorry to mess up your debugging experience.
web_1            | 17:05:09

[2020-09-19 17:20] nguyenquangminh0711 commented on #53
Hi @acetinick, thanks for reporting. Could I have some questions for clarifiation:
- Are you running foreman inside Docker?
- Are you running docker with `docker-compose`, or plain docker?
- Did you put a `-it` option when running with `docker`? Or `tty: true` and `stdin_open: true` when running with `docker-compose`?

[2020-09-20 08:26] acetinick commented on #53
hi @nguyenquangminh0711 ,

- yes, using docker and docker compose
- didn't put those options, but added it to docker-compose and still get same issue once the code hits the "jard" line.

![image](https://user-images.githubusercontent.com/571649/93707028-2ec8bc80-fb34-11ea-8290-c9a57bedfbaf.png)

[2020-09-20 10:42] chalmagean commented on #48
Tried it again, and I've attached screenshots. Byebug works fine, but jard doesn't work in either cucumber or the app.

![2020-09-20 at 13 39](https://user-images.githubusercontent.com/8421/93709482-19a95900-fb47-11ea-84bc-ffdd8ff2ea65.jpeg)
![2020-09-20 at 13 38](https://user-images.githubusercontent.com/8421/93709484-1c0bb300-fb47-11ea-958c-133640f8845b.jpeg)
![2020-09-20 at 13 36](https://user-

[2020-09-20 13:36] feliperaul opened #54 "[BUG] Internal error from jard - undefined method `shift` for nil"
**Describe the bug**

Using jard and it printed this message in my console. Jard worked fine tough:

[code]

Environment (please complete the following information):

OS: MacOs Catalina 10.15.6
iTerm2 (tested with and without Overmind)
Output when you run tput colors in your terminal: 256
Output when you run echo $TERM in your terminal: xterm-256color
Output when you run stty:
speed 38400 baud;
lf

[2020-09-20 14:44] AllanKlaus opened #55 "[BUG]"
**Describe the bug**
I'm getting error when try to get the response from nokogiri when I make a crawler in site (it works with byebug).

**To Reproduce**
1. `lesson_link = 'https://escuelasabatica.co/escuela-sabatica-cuarto-trimestre-2020-educacion-cristiana-introduccion/'`
2. `lesson = Nokogiri::HTML(URI.open(lesson_link))`
3. `lesson.search('.post_content')`
4. See error `.rvm/gems/ruby-2.7.1/ge

[2020-09-20 15:03] nguyenquangminh0711 commented on #53
Hi @acetinick, sorry my bad, `tty: true`, and `stdin_open: true` are ignored when you run `docker-compose up`. When you run `docker-compose up`, that command is not meant to be interactive). See more at https://github.com/docker/compose/issues/3081.

I would suggest to do change your workflow a little bit:
- Use `docker-compose run`. For example: `docker-compose run --service-ports web`.  (Tested

[2020-09-20 15:04] #53 closed

[2020-09-20 15:12] nguyenquangminh0711 commented on #48
@chalmagean, when you press Ctrl+C, does it print out any messages? When you type something, does Jard echo any character you totally silent?  If you type something meaningful, and press enter, what happens? And if it's possible, could you please test with a normal ruby file, instead of Rails stack?

Sorry, it's a lot of questions to ask, but I try a lot of scenarios, but sitll can't re-produce th

[2020-09-20 15:17] nguyenquangminh0711 commented on #55
Hi @AllanKlaus, could you try again with Jard from master branch? If I'm not mistaken, this bug is already fixed, but not released yet.

[code]

[2020-09-20 15:25] chalmagean commented on #48
Ok, so here's more debugging.

The output is totally silent. But if I do write something and press enter, I get output back. This doesn't happen in a regular ruby file (so I'm guessing it's a gem in my rails app; I've also attached the Gemfile).

![ruby-class](https://user-images.githubusercontent.com/8421/93714895-66545a80-fb6e-11ea-9b44-45a94fa7f3f2.jpeg)
![ctrl-c](https://user-images.githubuser

[2020-09-20 15:42] nguyenquangminh0711 commented on #48
Ahh. The symptom looks familar now. So, my guess is that there is something wrong happens with the STDOUT of your rails app so that the output from jard is accumulated, and release when it meets `\n`. Cucumber may be the one did that. I did an enhancement with STDOUT redirection, but not yet released. Not 100% sure that it's relevant, but worth a try. Could you try again with `master` branch?

[co

[2020-09-20 15:55] AllanKlaus commented on #55
worked

[2020-09-20 15:55] #55 closed

[2020-09-20 16:03] chalmagean commented on #48
master works the same.

[2020-09-21 01:39] Subtletree commented on #44
Came to do the same thing, how do I buy you guys a beer?! 🍻

[2020-09-21 14:21] cowlibob commented on #44
Same here; well done for making this a reality!

[2020-09-21 14:30] mrcasals commented on #44
I found that @nguyenquangminh0711 has a ko-fi link: https://ko-fi.com/nguyenquangminh0711. You can find the info here:

https://github.com/nguyenquangminh0711/ruby_jard/blob/cbba19ba3354ec9b9030621cbc8be11412f26265/.github/FUNDING.yml#L1-L3

Or just look for the Sponsor button <3

Thank you very much for your work!

[2020-09-21 18:32] hirowatari opened #57 "[BUG] Source output incorrect"
**Describe the bug**
Jard source output does not match what is the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Here's my file
[jobs_controller.rb.txt] (https://github.com/nguyenquangminh0711/ruby_jard/files/5257455/jobs_controller.rb.txt)
There's a comment in that file that explains things a bit more on line 68.
[code]
2. Run jard (in my case `docker-compose exec rails bundle exec

[2020-09-22 07:53] kikonen commented on #45
yes, that problem is seemingly fixed there

[2020-09-22 08:01] kikonen opened #58 "Supporting "disable-pry" kind of functionality"
With pry, I've used following logic to allow resuming rails app, basically to resume from the loop. I.e. when rendering some long table and having breakpoint inside renderer, then just plain "continue" hits breakpoint on every iteration, but this trick have allowed to resume app and let it render page into end.

[code]

Problem is that with "jard", this causes this instead
[code]
thus internal err

[2020-09-22 08:06] kikonen commented on #45
Nope, actually doesn't work always

*howto*
- "jard" breakpoint in line
- execute action in rails app
- hit breakpoint and continue
- replace breakpoint to be "binding.pry"
- execute action in rails app
=> "jard_control_flow" error hit

[2020-09-22 08:13] nguyenquangminh0711 commented on #45
@kikonen Yeah, that's kinda a limitation. I mentioned in one of the issue links above:

When you do a live-reloading, the reloading engine replaces the content of the file you injected, Jard configuration stays intact. So, when `binding.pry` is triggered with Jard-specific configurations. Overcoming this limitation is not possible now. Both Byebug and Pry somehow depends on the global configuratio

[2020-09-22 08:17] nguyenquangminh0711 commented on #57
Hi @hirowatari, thanks for reporting this issue. I tested on my local environment, and confirmed that this happens. The root cause is from variable screen, instead. I forgot to escape special characters (`\n` in this case) from SQL before printing it out to the screen. So, it overlaps and breaks the source screen. I implemented a fix at https://github.com/nguyenquangminh0711/ruby_jard/pull/56, and

[2020-09-22 08:18] nguyenquangminh0711 commented on #54
Hi @feliperaul, thanks for reporting again. This bug is handled in #56. You can try the fix at master branch first. I'll push a relase soon.

[code]

[2020-09-22 08:43] nguyenquangminh0711 commented on #58
Ah. The debugging functionality (stopping at a line) is powered by `byebug`, not pry. So, even if you disable pry, byebug still definitely stops at the next breakpoint though. I agree that this use case is common.

I would like to suggest a new command: `skip` and friends

[code]

There are more additional use cases that need to consider

[code]

[2020-09-22 19:41] hirowatari commented on #57
@nguyenquangminh0711 Thanks!!  That fixed it.  Appreciate the quick fix.

[2020-09-23 09:13] nguyenquangminh0711 commented on #48
Hi @chalmagean, sorry for letting you waiting. In your Gemfile. I tested my local rails app again using your Gemfile. It does meet the same issue as you described. In your Gemfile, this file creates a conflict with Jard: `gem "rb-readline"`. That library claims to be backward-compatible with Ruby Readline's interfaces, but seems like it's not. Removing that line solved the issue.

[2020-09-23 10:03] chalmagean commented on #48
Oh! Thank you, I think I've added that some time ago because pry or byebug didn't work right.

I can confirm it's working fine now.

Thanks again for your help and this amazing gem.

[2020-09-23 10:03] #48 closed

[2020-09-23 10:38] #57 closed

[2020-09-23 10:38] #54 closed

[2020-09-23 10:38] #49 closed

[2020-09-23 10:39] #46 closed

[2020-09-23 10:39] #45 closed

[2020-09-23 10:39] #40 closed

[2020-09-23 10:40] #38 closed

[2020-09-23 10:40] #35 closed

[2020-09-23 10:40] #34 closed

[2020-09-23 10:48] nonnenmacher commented on #38
Its totally fine, for this it isn't a big problem to relaunch in non `deamonized` mode and possibly this is the way to go inside a Docker container anyway (not yet tested).

Great solution for either quick REPL/Debug on a dev server and in last resort before suicide on a production node
dirty investigation/hot fix ;-)

[2020-09-23 12:55] jacaetevha opened #60 "Support for JRuby"
First, thank you for this tool. It's really sweet.

Are you planning to add support for JRuby at all, and if so do you need help in making that happen?

[2020-09-24 03:30] nguyenquangminh0711 commented on #60
Hi @jacaetevha , my ambition for Ruby Jard is to support both JRuby and Truffle Ruby. It's right in the roadmap. However, to be honest, I didn't have a chance to use JRuby, as well as how JRuby internal debugging utilities. Therefore, it would cost me a more time. I couldn't make a promise how long it will be done either, as I'm working on Jard in my free time. After that, it would be a great if y

[2020-09-24 03:52] nguyenquangminh0711 commented on #38
@nonnenmacher I tested with docker. And it works, as soon as there is a tty device attached to the docker container. I noted it down at https://rubyjard.org/docs/guides/faq#can-ruby-jard-work-with-docker. I'll think of a safer solution to debug on production, but not sure who gonna have that use case though :smile:

[2020-09-24 12:50] jacaetevha commented on #60
Thanks @nguyenquangminh0711 . Happy to help in whatever way I can. I have several JRuby and MRI apps on which to test Jard, and one Truffleruby app (currently). Thanks for your efforts.

[2020-09-28 13:04] #58 closed

[2020-09-28 13:06] nguyenquangminh0711 commented on #58
Hi @kikonen, this feature is implemented and merged into master. You can read the instruction on the website (https://rubyjard.org/docs/commands/skip). You can try the fix at master branch first. I'll push a relase soon. Thanks for requesting this feature :heart:

[code]

[2020-10-01 11:04] hlascelles opened #65 "Breakpoint in initializer throws error "undefined method `to_hash' for nil:NilClass""
**The bug**

Putting `jard` in an `ActiveRecord` model `initializer` causes an error as it is trying to call `to_hash` on `nil`.

**To Reproduce**

Run this code:

[code]

**Expected behavior**

It should know about being in an initializer and not error.

**Stacktrace**

[code]

**Environment**
All

Thank you for this excellent utility!

[2020-10-03 03:19] kbrock commented on #46
Whoa, I was not expecting this to work.

I thought requiring a user to run as `foreman run web` was a viable solution.
thanks for all your hard work

[2020-10-03 10:47] ddoherty03 commented on #44
Dare I say, mega-dittos?  I just got a chance to use this, and it is truly a pleasure to debug with it.

[2020-10-03 14:39] #65 closed

[2020-10-03 14:40] nguyenquangminh0711 commented on #65
Hi @hlascelles, thanks for your report. I created a PR to fix this issue, and already merged into master branch. You can try the fix at master branch first. I'll push a relase soon.

[code]

[2020-10-05 18:13] scottjacobsen opened #68 "Pager isn't working"
When I view a variable in the REPL that doesn't fit on one screen it appears to display the attributes using `less`, and I have the `:` prompt at the bottom of the screen. But the `less` key bindings don't work. I've tried the vim style bindings, emacs style, typed `space` to page down, and typed `q` to exit the pager. All the keys are just echoed to the screen but they do not actually do anything

[2020-10-06 07:07] nguyenquangminh0711 commented on #68
@scottjacobsen Could you help me a little bit by running this check on your terminal emulator:

[code]

Does it works as expected, or the behavior is the same? If it's still broken, could you give me the output of less --version in your terminal emulator?

[2020-10-06 12:03] jonatas opened #70 "[BUG] Control command is empty"
Hello again @nguyenquangminh0711 and thank you for bringing this amazing tool open source ❤️

I was amazed by the debugging UI that you created and tried my first session in my personal project getting into some insights about recursive  stack:

<img width="1920" alt="Screen Shot 2020-10-06 at 08 51 07" src="https://user-images.githubusercontent.com/15484/95199075-a3e1f600-07b2-11eb-9c82-6c5d11ee6

[2020-10-06 15:39] scottjacobsen commented on #68
Thanks.

Yes, this works.

It is starting to look like it could be a gem conflict. I just made a
little test script with no dependencies and Jard is working as expected
there as well.

I'll start commenting gems out of my main project and see if I can track it
down.

[2020-10-06 16:40] nguyenquangminh0711 commented on #70
Hi @jonatas, really thanks for your report, and detailed reproduction. However, in my machine, I the debugging in your gem is smooth. I didn't meet the error you describe.

![Screenshot from 2020-10-06 23-29-47](https://user-images.githubusercontent.com/11613517/95230289-e3005d80-082b-11eb-9431-43d82dc313f7.png)

So, I suspect that there maybe a race condition between Jard's internal threads when

[2020-10-06 16:45] nguyenquangminh0711 commented on #68
Ahhh. Glad to hear that. Yes, Ruby Jard will conflict with gems which depend on Pry or Byebug, or gems which override Readline. I discovered some of them. You can check the list in https://rubyjard.org/docs/#conflicts

[2020-10-08 15:14] sandipsubedi opened #71 "Anyone able to use this on Rails with Passenger?"
**Is your feature request related to a problem? Please describe.**
I am just wondering if anyone was able to use this with on Rails with Passenger.

Because I am getting this error:

[code]

**Describe the solution you'd like**
Jard working on Rails with Passenger.

**Describe alternatives you've considered**

**Additional context**
This gem looks great. I was having issues trying to use it on Rai

[2020-10-08 17:31] jonatas commented on #70
Now I got an infinite loop generating new consoles and it happened after resizing the window too.

[code]

[2020-10-09 10:04] nguyenquangminh0711 commented on #71
@sandipsubedi Thanks for raising this. Unfortunately, recenty, there is no way to let Jard works with Passenger at the moment. The reason is that Passenger intentionally closes all stdin, stdout, stderr, and detaches the web server from current TTY, so, Jard has no idea which TTY to attach to. The situation is the same for docker, but docker and co allow us to enable TTY, while Passenger does not.

[2020-10-09 10:18] nguyenquangminh0711 commented on #70
@jonatas This `Resize event` error is another bug, in which I fix in #72, and already merged into master. I still cannot reproduce original `Control command is empty` error though. That error happens when the input stream is broken, or EOF. I still cannot understand why it is broken unfortunately. Anyway, I added another attempt to validate and reconnect streams when they are broken, could you ple

[2020-10-10 09:57] kaoru opened #73 "[BUG] Not compatible with Rails CurrentAttributes - attributes come back as nil"
**Describe the bug**

When using jard to debug a Rails application which is using [CurrentAttributes](https://api.rubyonrails.org/classes/ActiveSupport/CurrentAttributes.html) the attributes set on the Current object are coming back as `nil`. When doing the same debugging with pry the attributes on the Current object are set correctly.

**To Reproduce**

Here's a single file Rails application base

[2020-10-12 05:10] nguyenquangminh0711 commented on #73
Wow. I'm surprised by the detail level of your bug report. I appreciate your times, and efforts helping me on this. This bug is indeed a big issue. The root cause of this bug is that jard evaluates user input in a seperate thread different the stopping thread. It was a good idea to solve a performance issue at first, but now it turns to be a flawed solution. It would take me a while to implement a

[2020-10-12 07:19] caifara commented on #68
Same problem here, awaiting @scottjacobsen before trying again :-)

[2020-10-12 15:18] sandipsubedi commented on #71
@nguyenquangminh0711  Thank you so much for the detailed response. I will be watching for updates in the future.

[2020-10-12 15:18] #71 closed

[2020-10-12 16:34] kaoru commented on #73
@nguyenquangminh0711 I thought it might be something like that - sounds like it's quite low-level and fundamental to the architecture, I hope the fix isn't too painful! Thanks for your reply 🙏

[2020-10-13 15:44] scottjacobsen commented on #68
Be warned - there are so many gems in my rails project, I'm not sure when
or if I'll get a chance to narrow it down :)

[2020-10-13 15:53] caifara commented on #68
@scottjacobsen I'm waiting ;-)

(joking of course)

[2020-10-13 15:55] nguyenquangminh0711 commented on #68
@scottjacobsen If your Gemfile is not sensitive, you can post it here. So that I can have a look, and find the troublesome one for you :smile:

[2020-10-13 17:08] #73 closed

[2020-10-16 02:26] bjeanes opened #75 "[BUG]"
**Describe the bug**

Given code such as:

[code]

it is not apparently possible to step into the `foo` call. When Jard stops on this line, `Step` will step into the `#to_h` call. Unlike something like `byebug`, `Step Out` does not take me back to the `foo(bar.to_h)` line but appears to step up/out past it or perhaps just steps over it (it's hard to tell).

**To Reproduce**

1. Enter `jard` before

[2020-10-22 09:36] frullah commented on #68
@scottjacobsen do you use spring ?

same problem here when use jard with spring, all the keys just echoed to the screen in the pager

[2020-11-12 18:27] OskarsEzerins commented on #50
1. Hyper terminal, zsh, oh-my-zsh, OSX
Same bug. Though, the only way I can exit process is with `ctrl+c`. Typing `quit` and pressing `enter` does nothing.

Works as expected:
[code]

2. OSX default terminal, zsh, oh-my-zsh, OSX
No issues.

[2020-11-14 16:26] bgvo opened #77 "[BUG] Debugging console freezes when executing a Rails' association on a model instance"
It freezes when trying to run an Activerecord association. For instance:

User `has_many :journeys`

I'm inside User.some_method:

[code]

Inside the method, when I run:

`jard >> journeys`

It just freezes and won't output the ActiveRecord::Associations::CollectionProxy instance.

This doesn't happen with gem 'byebug', where I'm able to see the result.

Thanks!

[2021-02-26 14:12] krzykamil commented on #77
Hey

I know this issue is somewhat old now, but I can't seem to replicate the issue.

[code]

and then in console after calling the method:

[code]

Here my `User` model also has `has_many` relationship to `orders`.

Maybe the issue is/was connected to the way to call the method? I would be happy to help with the PR for the issue if we can replicate it.

[2021-02-27 15:48] tantmd opened #81 "Support Ruby 2.4"
I know Ruby 2.4 is EOL, but my workplace kinda required it. I'm happy to help in whatever way I can. Do you have a pointer on how to start working on this?

[2021-04-30 01:18] ostigley opened #86 "Error uninitialized constant #<Class:0x00007f96b6e8aa68>::Analyzable"
Installing Jard for the first time and placing the jard command in my controller results in `uninitialized constant #<Class:0x00007f96b6e8aa68>::Analyzable`

ruby '2.7.3'
rails '6.1.3'

[code]

[2021-06-18 06:41] ADTC opened #94 "[BUG] empty space below the prompt when running in Rails project on WSL/Ubuntu"
**Describe the bug**
Jard does not take up the full height of the console window. There is empty space below the prompt.

**To Reproduce**
Steps to reproduce the behavior:
1. Install jard on a Ruby on Rails project.
2. Add the `jard` command somewhere in the project.
3. Run `rails server` (and perform action to launch jard if needed).
4. See jard console.

**Expected behavior**
Jard takes up the f

[2021-06-18 06:44] ADTC commented on #94
Note: After using `help` and before using `list` it seems the Terminal is fully aware of the 5 extra lines. But jard is ignoring them:

![image](https://user-images.githubusercontent.com/6047296/122518324-a2f0ac00-d043-11eb-983b-f8e3804bf603.png)

[2021-06-18 08:06] ADTC commented on #94
Looks like this is by design? Perhaps the space could be removed if the screen is too short in height. Why does it have the space anyway?

BTW, **AWESOME TOOL!** I learnt a lot just by debugging. I just wish there is a way to browse the UI like looking through the list of variables, expanding and collapsing them, hiding the threads list or backtrace list, etc.

Edit: So I noticed pretty much every

[2021-06-19 11:39] ADTC opened #95 "[BUG] ~/.jardrc does not seem to work with Rails Console"
**Describe the bug**
The `~/.jardrc` configuration file doesn't seem to be read or applied when running Jard in Rails Console.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `jard` in a Rails project.
2. Run `rails console`
3. Execute `def j; jard; end; j`
4. Configuration file is not read. All settings are at default.

**Expected behavior**
Configuration file is read and settings a

[2021-06-23 04:08] ADTC commented on #95
**Update:** Apparently a **complete system reboot** is necessary for Jard to see the changes in `~/.jardrc`. I think that needs to be fixed somehow to read the file again every time Jard launches, or have some way to force a read.

**Note:** In the case of WSL, the reboot is done using `wsl --shutdown` at the Windows Command Prompt. You don't need to restart Windows itself.

[2021-07-04 05:04] ADTC opened #97 "Keyword to output the underlying SQL query of Active Record relation to the console"
**Is your feature request related to a problem? Please describe.**
I want to output the underlying SQL query of an Active Record relation in a Rails project. I want this output to be shown in the console.

**Describe the solution you'd like**
Have a keyword that has the ability to always output the underlying SQL query of an Active Record in full to the console for copying purposes. It should be e

[2021-09-04 06:57] brandoncc opened #102 "dRB compatibility?"
This looks amazing. Thank you for creating it! I run my projects with foreman, which means I have to use debuggers over dRB in order to have a REPL that functions properly. Is there a possibility of a dRB client coming for jard?

[2021-10-08 13:48] #70 closed

[2021-10-28 20:19] patrickdavey commented on #102
Came here to say the same thing. I use [pry remote](https://github.com/Mon-Ouie/pry-remote) for this, but, Jard does look very nice (well done!).

What are you using @brandoncc for connecting over dRB?

[2021-10-29 22:24] brandoncc commented on #102
I'm still using pry-remote for dRB. One day maybe I'll be using jard :-)

On Thu, Oct 28, 2021, 3:19 PM Patrick Davey ***@***.***>
wrote:

[2022-10-15 13:16] #81 closed, assigned to nobody